 /* NAVBAR */
 ul.navbar-links {
    justify-content: right;
}

.navcolor {
    background-color: #e3f2fd;
}

/* (769px and up) */
@media only screen and (min-width: 769px) {
    .nav-search {
        margin-left: 0vw;
        width: 25vw;
    }
}

/* (1090px and up) */
@media only screen and (min-width: 1090px) {
    .nav-search {
        margin-left: 3vw;
        width: 40vw;
    }
}

/* (1260px and up) */
@media only screen and (min-width: 1260px) {
    .nav-search {
        margin-left: 10vw;
        width: 50vw;
    }
}

#logo {
    font-family: "Amita", cursive;
    display: inline;
}

#logo h1 {
    display: inline;
}

#logo #fresh {
    color: #577e07;
    display: inline;
}

#logo #mart {
    color: #a67c52;
    display: inline;
}

a {
    text-decoration: none;
}

/* FOOTER */
img#footer {
    padding: 10%;
    max-width: 15em;
}

ul#footer {
    list-style: none;
}

ul#footer li {
    padding-top: 1em;
}

.col-md#footer,
.col-md-3,
.col-md-3>img#footer {
    text-align: center;
}

.row#footer-icons {
    display: inline-block;
    text-align: center;
}

.footer-card#footer img {
    background-color: rgba(255, 255, 255, 0);
}

#imgage{
    height: 50%;
}