body,
html {
	margin: 0;
	padding: 0;
	overflow-x: auto;
}
html::-webkit-scrollbar {
	display: none;
	width: 10px;
}
.scrolling-wrapper {
	overflow-x: auto;
}
.scrolling-wrapper::-webkit-scrollbar {
	width: 10px;
}

/* NAVBAR */
ul.navbar-links {
	justify-content: right;
}
.navcolor {
	background-color: #e3f2fd;
}

.container-nav {
	width: 100vw;
}

/* (769px and up) */
@media only screen and (min-width: 769px) {
	.nav-search {
		margin-left: 0vw;
		width: 25vw;
	}
}
/* (1090px and up) */
@media only screen and (min-width: 1090px) {
	.nav-search {
		margin-left: 3vw;
		width: 40vw;
	}
}
/* (1260px and up) */
@media only screen and (min-width: 1260px) {
	.nav-search {
		margin-left: 10vw;
		width: 50vw;
	}
}
#logo {
	font-family: "Amita", cursive;
	display: inline;
}
#logo h1 {
	display: inline;
}
#logo #fresh {
	color: #577e07;
	display: inline;
}
#logo #mart {
	color: #a67c52;
	display: inline;
}

a {
	text-decoration: none;
}

/* CAROUSEL */
.carousel-inner > .carousel-item > img {
	height: 90vh;
}

.card-block {
	height: 200px;
	width: 25vw;
}

.cards-wrapper {
	display: flex;
	justify-content: center;
}
.card img {
	max-width: 100%;
	max-height: 100%;
}
/* .card {
	margin: 0 0.5em;
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
	border: none;
	border-radius: 0;
}
.carousel-inner {
	padding: 1em;
} */
/* .carousel-control-prev,
.carousel-control-next {
	background-color: #e1e1e1;
	width: 5vh;
	height: 5vh;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
} */
@media (min-width: 768px) {
	.card img {
		height: 11em;
	}
}

/* (769px and up) */
/* @media only screen and (min-width: 769px) {
	.nav-search {
		margin-left: 0vw;
		width: 25vw;
	}
} */
/* (1090px and up) */
/* @media only screen and (min-width: 1090px) {
	.nav-search {
		margin-left: 3vw;
		width: 40vw;
	}
} */
/* (1260px and up) */
/* @media only screen and (min-width: 1260px) {
	.nav-search {
		margin-left: 10vw;
		width: 50vw;
	} */

.slider {
	overflow: hidden;
	/* margin-right: 5em; */
}

/* // .container-slider {
// 	width: 150px;
// 	height: 150px;
// 	position: relative;
// 	margin: 30px;
// }

// .row.slider {
// 	width: 100%;
// 	height: 100%;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	opacity: 0.7;
// 	background: #0057e3;
// }

// .row.slider.overlay {
// 	z-index: 9;
// 	margin: 30px;
// 	background: #009938;
// } */
.card-text svg {
	/* display: inline-block; */
	float: right;
}
.card-text h2 {
	display: inline-block;
}
/* 
#rating{
	display: inline-block;
	margin-right: 1em;
	

} */

.carousel-item {
	background: rgba(0, 0, 0, 0.6);
}
/* .carousel-caption{
	background:rgba(0,0,0,0.6);
} */

.carousel-item {
	background-color: black;
	position: relative;
}

.carousel-item > img {
	padding: 0%;
	height: inherit;
	width: inherit;
	object-fit: cover;
	opacity: 0.4;
}

.fixed-width-card {
	width: 23em;
}
.card-block {
	height: fit-content;
	width: 20em;
}
/* (446px and down) */
/* (to fix cards getting too close to each other and overlapping) */
@media (max-width: 446px) {
	.fixed-width-card {
		width: 85vw;
	}
	.card-block {
		width: 80vw;
	}
}
/* img.offers-img{
	height: fit-content;
	object-fit: cover;
    overflow: hidden;
} */

.card.shop {
	height: 200px;
}
.card.shop img {
	object-fit: cover;
	overflow: hidden;
	height: 200px;
}

/* .card-body#shops{
	padding: 0%;
	margin: 0%;
} */

/* (769px and below) */
@media only screen and (max-width: 769px) {
	.card-body#shops {
		padding: 3%;
		margin: 1%;
	}
}

.card.essentials {
	height: 200px;
}
.card.essentials img {
	object-fit: cover;
	overflow: hidden;
	height: 200px;
}
.card.essentials-large {
	height: 400px;
}
.card.essentials-large img {
	overflow: hidden;
	height: 400px;
}

/* PROFILE SETTINGS */
ul.nostyle {
	list-style: none;
}
ul.inline li {
	display: inline;
}
.profile-pic {
	object-fit: cover;
	height: 15em;
	width: 15em;
	border-radius: 50%;
}

.edit-hover {
	position: absolute;
	object-fit: cover;
	height: 15em;
	width: 15em;
	border-radius: 50%;
	opacity: 50%;
}
.edit-hover:hover {
	background-color: aliceblue;
}

.profile-pic-edit {
	margin-left: 6em;
	margin-top: 13em;
}

ul.settings-links-col {
	display: none;
}
#settings-body{
	padding: 2em;
}
.settings-body > ul.settings-tabs {
	display: block;
}

/* (769px and up) */
@media only screen and (min-width: 769px) {
	ul.settings-links-col {
		display: block;
	}
	.settings-body > ul.settings-tabs {
		display: none !important;
	}
}

/* FOOTER */
img#footer {
	padding: 10%;
	max-width: 15em;
}
ul#footer {
	list-style: none;
}
ul#footer li {
	padding-top: 1em;
}
.col-md#footer,
.col-md-3,
.col-md-3 > img#footer {
	text-align: center;
}

.row#footer-icons {
	display: inline-block;
	text-align: center;
}
.footer-card#footer img {
	background-color: rgba(255, 255, 255, 0);
}
.container-nav {
	width: 100vw;
}

li.categories {
	display: none;
}

/* ABOUT */
body.about{
    background: #eee;
}

.heading{
    margin: 1em;
    padding: 1em;
    font-weight: bold;
    margin-left: 12em;
}

.main {
    border-radius: 3em;
    width: 12em;
    height: 10em;
}

.row-1#about{
    padding: 1em;
}

.about-team h6{
    margin: 1em;
    padding-left: 1.5em;
}

/* PRODUCT */
.row.product{
	padding-top: 4em;
}
/* .row.empty{
	padding-bottom: 10vw;
} */

/* REVIEW */
.review-title{
	font-size: 150%;
}
.review-profile-pic{
	height: 1em;
	width: auto;
	/* display: inline-block; */
}

/* CART */
.img-cart{
	height: 5em;
	width: auto;
	display: flex;

}
.img-cart-inline{
	display: flex;
	width: 30%;
}

